.redes {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px; }
    .redes .instagram {
        width: 50px;
        height: 50px; }
    .redes .facebook {
        width: 50px;
        height: 50px; }
h5 {
    color: #1b5b6e;
    text-align: center;
    font-size: 15px;
    gap: 20px; }

h1 {
        color: #1b5b6e;
        text-align: center;
        font-size: 45px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

h2 {
        color: #073341;
        text-align: center;
        font-size: 30px;
    }

h3 {
        color: #073341;
        text-align: left;
        font-size: 20px;
    }
    